<a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=61550661555594" role="button">
    <i class="fab fa-twitter me-2"></i>&nbsp;Facebook
</a>

<a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com/remakeai/" role="button">
    <i class="fab fa-twitter me-2"></i>&nbsp;Twitter
</a>

<a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/makerspet_com/" role="button">
    <i class="fab fa-twitter me-2"></i>&nbsp;Instagram
</a>

<a class="btn btn-primary" style="background-color: #ed302f;" href="https://youtube.com/@remakeai/" role="button">
    <i class="fab fa-twitter me-2"></i>&nbsp;YouTube
</a>

<a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/makerspet"" role="button">
    <i class="fab fa-twitter me-2"></i>&nbsp;GitHub
</a>
