<a style="color: #3b5998;" href="https://www.facebook.com/profile.php?id=61550661555594" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
<a style="color: #55acee;" href="https://twitter.com/remakeai/" role="button"><i class="fab fa-twitter fa-lg"></i></a>
<a style="color: #ac2bac;" href="https://www.instagram.com/makerspet_com/" role="button"><i class="fab fa-instagram fa-lg"></i></a>
<a style="color: #ed302f" href="https://youtube.com/@remakeai/" role="button"><i class="fab fa-youtube fa-lg"></i></a>
<a style="color: #333333" href="https://github.com/makerspet" role="button"><i class="fab fa-github fa-lg"></i></a>
